/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/thermal/thermal.h>
#include "s5p6818.dtsi"

#define PMIC_PDATA_INIT(_id, _rname, _minuv,	\
			_maxuv, _always_on, _boot_on,		\
			_init_uv, _init_enable, _slp_slots)	\
		regulator-name = _rname;		\
		regulator-min-microvolt = <_minuv>;	\
		regulator-max-microvolt = <_maxuv>;	\
		nx,id = <_id>;				\
		nx,always_on = <_always_on>;		\
		nx,boot_on = <_boot_on>;		\
		nx,init_enable = <_init_enable>;	\
		nx,init_uV = <_init_uv>;		\
		nx,sleep_slots = <_slp_slots>;

/ {
	memory {
		/* Note: Samsung Artik u-boot fixates memory information to values
		 * specified by CONFIG_SYS_SDRAM_BASE and CONFIG_SYS_SDRAM_SIZE in
		 * the u-boot configuration. Values specified below are meaningless.
		 */
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	aliases {
		ethernet0 = &gmac0;
	};

	nx-v4l2 {
		status = "okay";
	};

	soc {
		#include "s5p6818-pinctrl.dtsi"

		clocks {
			uart0:uart@c00a9000 { clock-frequency = <147500000>; };
			uart1:uart@c00a8000 { clock-frequency = <147500000>; };
			uart2:uart@c00aa000 { clock-frequency = <147500000>; };
			uart3:uart@c00ab000 { clock-frequency = <147500000>; };
			uart4:uart@c006e000 { clock-frequency = <147500000>; };
			uart5:uart@c0084000 { clock-frequency = <147500000>; };
			pwm0:pwm0@c00ba000 { clock-frequency = <100000000>; };
			i2c0:i2c@c00ae000  { clock-frequency = <200000000>; };
			i2c1:i2c@c00af000  { clock-frequency = <200000000>; };
			i2c2:i2c@c00b0000  { clock-frequency = <200000000>; };
			vip1:vip@c00c2000 { src-force = <4>; };
		};

		serial0:serial@c00a1000 {
			status ="okay";
		};

		serial1:serial@c00a0000 {
			status ="okay";
			pinctrl-names = "default";
			pinctrl-0 = <&serial1_pin &serial1_flow>;
		};

		amba {
			pl08xdma0:pl08xdma@c0000000 {
				use_isr;

				ch12 {
					slave_wait_flush_dma;
				};

				ch13 {
					slave_wait_flush_dma;
				};

				ch14 {
					slave_wait_flush_dma;
				};

				ch15 {
					slave_wait_flush_dma;
				};
			};

			pl08xdma1:pl08xdma@c0001000 {
				use_isr;

				ch0 {
					slave_wait_flush_dma;
				};

				ch1 {
					slave_wait_flush_dma;
				};
			};
		};

		dw_mmc_0:dw_mmc@c0062000 {			// mappings from kernel 3.x:
			num-slots = <1>;				// num_slots, not initialized
			bus-width = <4>;				// MMC_CAP_4_BIT_DATA
			cap-sd-highspeed;				// DW_MCI_QUIRK_HIGHSPEED
			cap-mmc-highspeed;				// also DW_MCI_QUIRK_HIGHSPEED
			clock-frequency = <100000000>;	// bus_hz: 100 * 1000 * 1000
			card-detect-delay = <200>;		// detect_delay_ms
			disable-wp;						// write protect: -> get_ro; feature not available for micro SD
			cd-gpios = <&alive_0 1 GPIO_ACTIVE_LOW>; // card detect: CFG_SDMMC0_DETECT_IO == PAD_GPIO_ALV + 1
			nexell,drive_dly = <0x0>;		// DW_MMC_DRIVE_DELAY(0)
			nexell,drive_shift = <0x02>;	// DW_MMC_DRIVE_PHASE(2)
			nexell,sample_dly = <0x00>;		// DW_MMC_SAMPLE_DELAY(0)
			nexell,sample_shift = <0x01>;	// DW_MMC_SAMPLE_PHASE(1)
			status = "okay";
		};

		dw_mmc_1:dw_mmc@c0068000 {
			num-slots = <1>;
			bus-width = <4>;
			cap-sd-highspeed;
			clock-frequency = <100000000>;
			card-detect-delay = <200>;
			non-removable;
            keep-power-in-suspend;
			nexell,drive_dly = <0x0>;
			nexell,drive_shift = <0x02>;
			nexell,sample_dly = <0x00>;
			nexell,sample_shift = <0x01>;
			mmc-pwrseq = <&wifi_powerseq>;
			status = "okay";

			/* wifi definition for brcmfmac.ko module */
            brcmf: bcrmf@1 {
                compatible = "brcm,bcm4329-fmac";
                reg = <1>;
				interrupt-parent = <&gpio_c>;
				interrupts = <17 IRQ_TYPE_LEVEL_HIGH>;
				brcm,powersave-default-off;
            };
		};

		dw_mmc_2:dw_mmc@c0069000 {
			num-slots = <1>;				// num_slots, not initialized
			bus-width = <4>;				// MMC_CAP_4_BIT_DATA
			cap-sd-highspeed;				// DW_MCI_QUIRK_HIGHSPEED
			cap-mmc-highspeed;				// also DW_MCI_QUIRK_HIGHSPEED
			sd-uhs-ddr50;					// MMC_CAP_UHS_DDR50
			cap-mmc-hw-reset;				// MMC_CAP_HW_RESET
			clock-frequency = <200000000>;	// bus_hz: 200 * 1000 * 1000
			card-detect-delay = <200>;		// detect_delay_ms
			non-removable;					// MMC_CAP_NONREMOVABLE
			broken-cd;
			cd-gpios = <&gpio_c 24 GPIO_ACTIVE_LOW>; // card detect: CFG_SDMMC2_DETECT_IO == PAD_GPIO_C + 24
			nexell,drive_dly = <0x0>;		// DW_MMC_DRIVE_DELAY(0)
			nexell,drive_shift = <0x03>;	// DW_MMC_DRIVE_PHASE(3)
			nexell,sample_dly = <0x00>;		// DW_MMC_SAMPLE_DELAY(0)
			nexell,sample_shift = <0x02>;	// DW_MMC_SAMPLE_PHASE(2)
			status = "okay";
		};

		/* FIXME: bluetooth reset is piggybacked here although their data flow
		 * goes through serial1 */
		wifi_powerseq: wifi_powerseq  {
			compatible = "mmc-pwrseq-simple";
			reset-gpios =
				<&gpio_b 24 GPIO_ACTIVE_LOW		/* wifi */
				&gpio_b 8 GPIO_ACTIVE_LOW>;		/* bluetooth */
			post-power-on-delay-ms = <50>;
		};

		i2c3_gpio:i2c@0 {
			compatible = "i2c-gpio";
			gpios = <&gpio_e 31 0	/* sda */
				&gpio_e 30 0	/* scl */
				>;
			i2c-gpio,delay-us = <10>;/* ~100 kHz */
			i2c-gpio,ch =<3>;
		};

		i2c3_gpio:i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;

			axp228@34 {
				compatible = "x-powers,axp228";
				reg = <0x34>;
				interrupt-parent = <&alive_0>;	// CFG_GPIO_PMIC_INTR
				interrupts = <0x4 IRQ_TYPE_EDGE_FALLING>;
				nx,id = <0>;
				/* vdd_arm-supply = <&VCC1P1_ARM_PMIC>; */
				/* vdd_core-supply = <&VCC1P0_CORE_PMIC>; */
				regulators {
					VCC_LDO1:
						axp22_rtcldo{PMIC_PDATA_INIT( 0,
						"axp228_rtcldo",
						3000000, 3000000, 0, 0, 3300000,
						0, 0xF) };
					VCC_LDO2:
						axp22_aldo1{PMIC_PDATA_INIT( 1,
						"axp228_3p3_alive",
						700000, 3300000, 1, 1, 3300000,
						1, 0xF) };
					VCC_LDO3:
						axp22_aldo2{PMIC_PDATA_INIT( 2,
						"axp228_1p8_alive",
						700000, 3300000, 1, 1, 1800000,
						1, 0xF) };
					VCC_LDO4:
						axp22_aldo3{PMIC_PDATA_INIT( 3,
						"axp228_1p0_alive",
						700000, 3300000, 1, 1, 1000000,
						1, 0xF) };
					VCC_LDO5:
						axp22_dldo1{PMIC_PDATA_INIT( 4,
						"axp228_wide",
						700000, 3300000, 1, 1, 3300000,
						1, 0xF) };
					VCC_LDO6:
						axp22_dldo2{PMIC_PDATA_INIT( 5,
						"axp228_1p8_cam",
						700000, 3300000, 0, 0, 1800000,
						0, 0xF) };
					VCC_LDO7:
						axp22_dldo3{PMIC_PDATA_INIT( 6,
						"axp228_dldo3",
						700000, 3300000, 0, 0,  700000,
						0, 0xF) };
					VCC_LDO8:
						axp22_dldo4{PMIC_PDATA_INIT( 7,
						"axp228_dldo4",
						700000, 3300000, 0, 0,  700000,
						0, 0xF) };
					VCC_LDO9:
						axp22_eldo1{PMIC_PDATA_INIT( 8,
						"axp228_1p8_sys",
						700000, 3300000, 1, 1, 1800000,
						1, 0xF) };
					VCC_LDO10:
						axp22_eldo2{PMIC_PDATA_INIT( 9,
						"axp228_3p3_wifi",
						700000, 3300000, 1, 1, 3300000,
						1, 0xF) };
					VCC_LDO11:
						axp22_eldo3{PMIC_PDATA_INIT(10,
						"axp228_eldo3",
						700000, 3300000, 0, 0,  700000,
						0, 0xF) };
					VCC_LDO12:
						axp22_dc5ldo{PMIC_PDATA_INIT(11,
						"axp228_1p2_cvbs",
						700000, 1400000, 0, 0, 1200000,
						0, 0xF) };
					VCC_DCDC1:
						axp22_dcdc1{PMIC_PDATA_INIT(12,
						"axp228_3p3_sys",
						1600000, 3400000, 1, 1, 3300000,
						1, 0xF) };
					VCC1P1_ARM_PMIC:
						axp22_dcdc2{PMIC_PDATA_INIT(13,
						"axp228_1p1_arm",
						600000, 1540000, 1, 1, 1200000,
						1, 0xF) };
					VCC1P0_CORE_PMIC:
						axp22_dcdc3{PMIC_PDATA_INIT(14,
						"axp228_1p0_core",
						600000, 1860000, 1, 1, 1200000,
						1, 0xF) };
					VCC_DCDC4:
						axp22_dcdc4{PMIC_PDATA_INIT(15,
						"axp228_1p5_sys",
						600000, 1540000, 1, 1, 1500000,
						1, 0xF) };
					VCC_DCDC5:
						axp22_dcdc5{PMIC_PDATA_INIT(16,
						"axp228_1p5_ddr",
						1000000, 2550000, 1, 1, 1500000,
						1, 0xF) };
					VCC_LDOIO0:
						axp22_ldoio0{PMIC_PDATA_INIT(17,
						"axp228_ldoio0",
						700000, 3300000, 0, 0, 1800000,
						0, 0xF) };
					VCC_LDOIO1:
						axp22_ldoio1{PMIC_PDATA_INIT(18,
						"axp228_ldoio1",
						700000, 3300000, 0, 0, 1000000,
						0, 0xF) };
				};
			};
		};

		pinctrl@C0010000 {
			touchpanel_irq: touchpanel-irq {
				nexell,pins = "gpioc-16";
				nexell,pin-function = <1>;
				nexell,pin-pull = <2>;
				nexell,pin-strength = <0>;
			};
		};

		nexell_usbphy: nexell-usbphy@c0012000 {
			status = "okay";
		};

		ehci@c0030000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		ohci@c0020000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		dwc2otg@c0040000 {
			gpios = <&gpio_d 21 0>;
			status = "okay";
		};

		gmac0:ethernet@c0060000 {
			pinctrl-names = "default";
			pinctrl-0 = <&gmac_pins>;

			status = "okay";
			#address-cells = <0x1>;
			#size-cells = <0x0>;

			snps,phy-addr = <7>;
			snps,reset-gpio = <&gpio_e 22 0>;
			snps,reset-active-low;
			snps,reset-delays-us = <0 10000 30000>;

			mdio {
				#address-cells = <1>;
				#size-cells = <0>;

				ethernet_phy: ethernet-phy@3 {
					reg = <3>;
					fixed-link {
						speed = <1000>;
						full-duplex;
					};
				};
			};
		};

		i2c_0:i2c@c00a4000 {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			es8316_codec: es8316@11 {
				#sound-dai-cells = <0>;
				compatible = "everest,es8316";
				reg = <0x11>;
			};
		};

		i2c_1:i2c@c00a5000 {
			status = "okay";
		};

		i2c_2:i2c@c00a6000 {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			/* Note: touch sensors are registered by onewire */
			/*touchscreen@38 {
				compatible = "edt,edt-ft5506";
				reg = <0x38>;
				interrupt-parent = <&gpio_c>;
				interrupts = <16 IRQ_TYPE_EDGE_FALLING>;
				pinctrl-names = "default";
				pinctrl-0 = <&touchpanel_irq>;
				touchscreen-size-x = <1280>;
				touchscreen-size-y = <800>;
				touchscreen-max-pressure = <255>;
			};*/

			/*touchscreen@46 {
				compatible = "ite,it7260";
				reg = <0x46>;
				interrupt-parent = <&gpio_c>;
				interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
				pinctrl-names = "default";
				pinctrl-0 = <&touchpanel_irq>;
			};*/
		};

		pwm:pwm@c0018000 {
			// block pwm3_pin - conflicts with spi0_miso (on spi0_bus) drawn on 2.54mm header
			pinctrl-0 = <&pwm0_pin &pwm1_pin &pwm2_pin>;
			samsung,pwm-outputs = <0>, <1>, <2>;
			status = "okay";
		};

		vip_1:vip@c0064000 {
			status = "okay";
		};

		clipper_1:clipper1@c0064000 {
			status = "okay";
			pwms = <&pwm 1 41 0>; /* 1000000000/41 */
			interface_type = <NX_CAPTURE_INTERFACE_PARALLEL>;
			pinctrl-names = "default";
			pinctrl-0 = <&vid1_data_clk &vid1_sync> ;
			port = <0>;
			external_sync = <0>;
			data_order = <NX_VIN_Y0CBY1CR>;
			interlace = <0>;
			regulator_names = "axp22_dldo2";
			regulator_voltages = <1800000>;

			gpios = <&gpio_c 4 0
				 &gpio_c 5 0
			         &gpio_c 6 0>;

			sensor {
				type = <NX_CAPTURE_SENSOR_I2C>;
				i2c_name = "SP2518";
				i2c_adapter = <0>;
				addr = <0x30>;
			};

			power {
				enable_seq = <
				NX_ACTION_START NX_ACTION_TYPE_GPIO 2 1 0 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_PMIC 0 0 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_PMIC 1 0 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_GPIO 0 0 0 1 0 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_CLOCK 1 10 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_GPIO 0 0 0 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_GPIO 1 1 0 0 1 NX_ACTION_END
				NX_ACTION_START NX_ACTION_TYPE_GPIO 1 1 100 NX_ACTION_END
				>;
			};
		};

		dp_drm: display_drm {
            status = "okay";
            ports {
                port@0 {
                    reg = <0>;
                    back_color = < 0x0 >;
                    color_key = < 0x0 >;
					/* Port 0 has two RGB planes and one video plane. These planes
					 * are arranged in z-order: RGB plane 0 is below plane 1,
					 * video plane may be set at any position in z-order.
					 *
					 * Possible names for RGB planes: "primary", "rgb", "cursor"
					 * Possible name for video plane: "video"
					 * Two RGB plane names and one video plane name may be specified in
					 * "plane-names" property.
					 * RGB plane "primary" will be used as root window.
					 * RGB plane "cursor" will be used for cursor.
					 * RGB plane "rgb" and video plane are overlay planes, normally
					 * not used by X-windows.
					 *
					 * Order of plane names specifies z-order of planes, top to bottom.
					 */
                    plane-names = "cursor", "video", "primary";
                };
                port@1 {
                    reg = <1>;
                    back_color = < 0x0 >;
                    color_key = < 0x0 >;
					/* Port 1 has one RGB plane and one video plane only. */
                    plane-names = "video", "primary";
                };
            };
        };

        dp_drm_hdmi: display_drm_hdmi {
            ddc-i2c-bus = <&i2c_1>;
            q_range = <1>;
            status = "ok";
        };

        dp_drm_rgb: display_drm_rgb {
            remote-endpoint = <&rgb_panel>;
            status = "okay";

            dp_control {
                clk_src_lv0 = <0>;
                clk_div_lv0 = <16>;
                clk_src_lv1 = <7>;
                clk_div_lv1 = <1>;
                out_format = <3>;
                invert_field = <0>;
                swap_rb = <0>;
                yc_order = <0>;
                delay_mask = < ((1<<0) | (1<<1) | (1<<2) | (1<<3)) >;
                d_rgb_pvd = <0>;
                d_hsync_cp1 = <0>;
                d_vsync_fram = <0>;
                d_de_cp2 = <7>;
                vs_start_offset = <863>;
                ev_start_offset = <863>;
                vs_end_offset = <0>;
                ev_end_offset = <0>;
            };
        };

        dp_drm_lvds: display_drm_lvds {
			status = "ok";
			remote-endpoint = <&lvds_panel>;
			dp_control {
				clk_src_lv0 = <0>;
				clk_div_lv0 = <16>;
				clk_src_lv1 = <7>;
				clk_div_lv1 = <1>;
				out_format = <3>;
			};
		};

		rtc@c0010c00 {
            status = "okay";
		};

		tmuctrl_0: tmuctrl@c0096000 {
			status = "okay";
		};

		i2s_0:i2s@c0055000 {
			#sound-dai-cells = <1>;
			sample-rate = <48000>;
			frame-bit = <32>;
			status = "okay";
		};

		spdif_tx: spdiftx@c0059000 {
			#sound-dai-cells = <1>;
			status = "okay";
		};

		adc:adc@c0053000 {
			status = "okay";
		};

		video-codec@c0080000 {
			status = "okay";
			sram = <0 0>;
		};

		scaler@c0066000 {
			status = "okay";
		};

		nano-videodev {
			compatible = "nexell,nano-videodev";
			reg = <0xc0102000 0x100>;
			reg-names = "mlc.0";
			status = "okay";
		};
	};	/*** soc ***/

	panel_lvds {
		compatible = "nanopi,nano-panel";
		lvds;
		status = "okay";

		port {
			lvds_panel: endpoint {
			};
		};
	};

	panel_rgb {
		compatible = "nanopi,nano-panel";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&dp_rgb_vclk &dp_rgb_vsync &dp_rgb_hsync
			&dp_rgb_de &dp_rgb_R &dp_rgb_G &dp_rgb_B>;

		port {
			rgb_panel: endpoint {
			};
		};
	};

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
		status = "okay";
	};

	/* Audio jack output configured to use with Nexell driver. Not used.
	 */
	es8316_sound: es8316@i2s0 {
		compatible = "nexell,nexell-es8316";
		ch = <0>;
		sample-rate = <48000>;
		format = "S16";
		hpin-support = <0>;
		hpin-gpio = <&gpio_b 27 0>;
		hpin-level = <1>;
		status = "disabled";
	};

	/* HDMI output configured to use with Nexell driver. Not used also.
	 *
	 * Note that es8316_sound and spdif_sound cannot be enabled together
	 * because of nexell-pcm device used by both.
	 */
	spdif_sound {
		compatible = "nexell,spdif-transceiver";
		sample_rate = <48000>;
		format = "S16";
		status = "disabled";
	};

	jack_sound {
		compatible = "simple-audio-card";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "Jack";
		simple-audio-card,widgets =
			"Headphone", "Headphones",
			"Microphone", "Microphone";
		simple-audio-card,routing =
			"Headphones", "HPOL",
			"Headphones", "HPOR",
			"MIC1", "Microphone";
		status = "okay";

		simple-audio-card,dai-link@0 {
		    format = "i2s";
			cpu {
				sound-dai = <&i2s_0 0>;
		    };

		    codec {
				sound-dai = <&es8316_codec>;
		    };
		};
	};

	hdmi_sound {
		compatible = "simple-audio-card";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "HDMI";
		simple-audio-card,widgets =
			"Headphone", "TV Out";
		simple-audio-card,routing =
			"TV Out", "spdif-out";
		status = "okay";

		simple-audio-card,dai-link@0 {
		    cpu {
				sound-dai = <&spdif_tx 0>;
		    };

		    codec {
				sound-dai = <&spdif_out>;
		    };
		};
	};

	thermal-zones {
		cpu_thermal: cpu-thermal {
			polling-delay-passive = <100>;	/* milliseconds */
			polling-delay = <1000>;			/* milliseconds */

			thermal-sensors = <&tmuctrl_0>;

			trips {
				cpu_alert0: cpu-alert0 {
					temperature = <85000>;	/* millicelsius */
					hysteresis = <2000>;	/* millicelsius */
					type = "passive";
				};
				cpu_crit: cpu-crit {
					temperature = <100000>;	/* millicelsius */
					hysteresis = <2000>;	/* millicelsius */
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu_alert0>;
					cooling-device =
						<&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};

	leds {
		compatible = "gpio-leds";

		blue {
			label = "blue";
			gpios = <&gpio_b 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mmc1";
		};
	};

	wifi_bcm4329 { /* wifi definition for bcmdhd.ko module */
		compatible = "nanopi,bcm4329";
		interrupt-parent = <&gpio_c>;
		interrupts = <17 IRQ_TYPE_LEVEL_HIGH>;
	};

	nanopi-thermistor {
		compatible = "friendlyarm,nanopi-thermistor";
		status = "okay";

		io-channels = <&adc 2>;
		io-channel-names = "nanopi-thermistor";
	};

	nanopi-onewire {
		interrupt-parent = <&gic>;
		compatible = "friendlyarm,onewire";

		channel-gpio = <&gpio_c 15 0>;
		reg = <PHYS_BASE_TIMER 0x1000>;
		interrupts = <0 IRQ_TIMER3 0>;
		irq-timer = <3>;
	};

	onewire-touch {
		compatible = "friendlyarm,onewire-touch";
		interrupt-parent = <&gpio_c>;
		interrupts = <16 IRQ_TYPE_NONE>;
		i2c-bus = <&i2c_2>;
		pinctrl-names = "default";
		pinctrl-0 = <&touchpanel_irq>;
	};
};

